<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Site utilizado para estudos do framework Angular durante as aulas do programa Start da Capgemini,
        junto ao professor William. Foram aplicadas algumas mudanças do site original a fim de um melhor
        entendimento das tecnologias utilizadas
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li>
          <div class="footer-email">
            <a href="mailto:rafaelaraujo.02@hotmail.com"
              target="_top"
              title="Enviar e-mail para rafaelaraujo.02@hotmail.com"
            >
              <i class="fa-solid fa-envelope fa-1x"></i>
            </a>
            <span>rafaelaraujo.02@hotmail.com</span>
          </div>
        </li>
        <li>
          <div class="footer-whatsapp">
            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5583986079496"
              target="_blank"
              title="Enviar Mensagem para (83) 9 8607-9496"
            >
                <i class="fa-brands fa-whatsapp fa-1x"></i>
            </a>
            <span>(83) 9 8607-9496</span>
          </div>
        </li>
        <li>
          <div class="footer-github">
            <a href="http://github.com/rafaelaraujo02"
              target="_blank"
              title="Ir para o github de Rafael Araújo"
            >
              <i class="fa-brands fa-github fa-1x"></i>
            </a>
            <span>rafaelaraujo02</span>
          </div>
        </li>
        <li>
          <div class="footer-linkedin">
            <a href="http://linkedin.com/in/rafael-araújo-a9a39414b/"
              target="_blank"
              title="Ir para o Linkedin de Rafael Araújo"
            >
              <i class="fa-brands fa-linkedin fa-1x"></i>
            </a>
            <span>Rafael Araújo</span>
          </div>
        </li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
